<% include partials/header %>

<h1>Results page</h1>

<div id="container resultsContainer">
    <h1><%= data["Title"] %></h1>
    <img src= <%= data["Poster"] %>
</div>

<a href="/">Search Again!</a>


<% include partials/footer %>